@import './variables.scss';

.hidden-menu {
    display: none;
    grid-template-columns: 150px 110px 40px;
    grid-template-rows: 40px 100px 100px;
    position: absolute;
    top: 0;
    right: 0;
    gap: 5px;
  }

.open {
    display: grid;
}

.hidden-menu li {
    text-align: center;
    vertical-align: middle;
    background-color: $color_1_2;
    cursor: pointer;
    color: $color_1_4;
}

.hidden-menu li:hover {
    background-color: $color_1_1;
    color: $color_1_2;
}

.hidden-menu li:nth-child(1) {
    grid-column-start: 3;
    grid-row-start: 1;
    padding-top: 10px;
}

.hidden-menu li:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    padding-top: 10px;
}

.hidden-menu li:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 2;
    padding-top: 15px;
}

.hidden-menu li:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    padding-top: 15px;
}

.hidden-menu li:nth-child(5) {
    grid-column-start: 1;
    grid-row-start: 3;
    padding-top: 15px;
}

.hidden-menu li:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    padding-top: 15px;
}