@import './variables.scss';

.sentences-pictures-closed {
    background-color: $color_3_1;

    .sentences {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        padding: 0;
    
        list-style: none;
    
        .sentence {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 440px;
            margin-bottom: 40px;
            background-color: $color_3_5;

            .sentences-title {
                color: $color_3_3;
            }
    
            .far {
                color: $color_3_3;
                transition-duration: 100ms;
                opacity: 0.8;
            }
            
            .fa-thumbs-down,
            .fa-thumbs-up {
                cursor: pointer;
            }
            
            .sentence .fa-3x {
                text-shadow: 
                    -8px 8px 0 hsl(80,100%,35%),
                    -7px 7px 0 hsl(80,100%,55%),
                    -6px 6px 0 hsl(80,100%,60%),
                    -5px 5px 0 hsl(80,100%,65%),
                    -4px 4px 0 hsl(80,100%,70%),
                    -3px 3px 0 hsl(80,100%,75%),
                    -2px 2px 0 hsl(80,100%,80%),
                    -1px 1px 0 hsl(80,100%,85%),
                    0 0 0 hsl(80,100%,95%);
                color: transparent;
                opacity: 1.0;
                transition-duration: 50ms;
            }
            
            .sentence .shadow-plus {
                text-shadow:
                    0 0 10px rgb(255, 90, 8);
                color: rgb(250, 6, 6);
                transition-duration: 50ms;
            }
            
            .fa-1x {
                text-shadow:
                    1px 1px 0 hsl(20,100%,50%),
                    2px 2px 0 hsl(20,100%,50%),
                    3px 3px 0 hsl(35,100%,50%),
                    4px 4px 0 hsl(35,100%,50%),
                    5px 5px 0 hsl(45,100%,50%),
                    6px 6px 0 hsl(45,100%,55%),
                    7px 7px 0 hsl(55,100%,60%),
                    8px 8px 0 hsl(55,100%,65%);
                color: hsl(0,100%,40%);
                opacity: 1.0;
                transition-duration: 50ms;
            }
            
            .fa-thumbs-down,
            .fa-heart,
            .fa-thumbs-up {
                position: absolute;
            }
            
            .fa-thumbs-down {
                left: 30px;
                bottom: 12px;
            }
            
            .fa-heart {
                left: 60px;
                bottom: 7px;
            }
            
            .fa-thumbs-up {
                left: 107px;
                bottom: 15px;
            }
            
            .sentence-image {
                order: -1;
                width: 440px;
                margin-bottom: 50px;
            }
            
            .sentence-title {
                position: absolute;
                max-width: 180px;
                margin: 0;
                bottom: -24px;
                left: 1px;
            
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
            }
            
            .like-number {
                position: absolute;
                max-width: 80px;
                margin: 0;
                bottom: 10px;
            
                text-align: right;
                font-weight: bold;
                font-size: 20px;
                line-height: 25px;
                color: $color_3_3;
            }
        }
    
        .winner .sentence-image {
            margin: 0;
        }
    
        .winner .fa-thumbs-down,
        .winner .fa-heart,
        .winner .fa-thumbs-up {
            position: absolute;
        }
    
        .winner {
            order: -1;
            width: 100%;
        
            flex-direction: column;
            justify-content: flex-start;
            align-content: space-between;
        }
        
        .winner .sentence-title {
            position: absolute;
            left: 500px;
            top: 30px;
            width: 270px;
            max-width: 100%;
            margin-bottom: 10px;
        
            font-size: 28px;
            line-height: 36px;
        }
        
        .winner .like-number {
            position: absolute;
            left: 545px;
            top: 70px;
            width: 270px;
            max-width: 100%;
            text-align: left;
        }
        
        .winner .old-like-number {
            position: absolute;
            left: 545px;
            top: 100px;
            width: 270px;
            max-width: 100%;
            text-align: left;
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            text-decoration: line-through;
            color: $color_3_2;
            opacity: 0.5;
        }
        
        .winner {
            margin: 30px 0;
        }
        
        .winner .sentence-image {
            outline: 3px solid $color_3_3;
            margin-bottom: 50px;
        }
        
        .winner::before {
            content: "Фаворит лайкового рейтинга";
            position: absolute;
            top: -31px;
            left: -2px;
        
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 10px;
        
            font-weight: 500;
            color: $color_3_5;
            text-transform: uppercase;
        
            background-color: $color_3_3;
        }
    }

    .update-card-array {
        flex-shrink: 0;
        padding: 12px;
      
        font: inherit;
        color: $color_3_5;
      
        border: none;
        border-radius: 4px;
      
        user-select: none;
        touch-action: manipulation;

        width: 100%;
        background-color: $color_3_3;
        margin: 12px 0;
    }

    .update-card-array:hover {
        background-color: $color_3_2;
        color: $color_3_5;
    }
}







