
// ---ColorScheme---

// основной цвет:
$color_1_1: #FFD9D9;
$color_1_2: #8A7F7F;
$color_1_3: #5C0707;
$color_1_4: #FFE7E7;
$color_1_5: #FFF2F2;

// вторичный цвет А:
$color_2_1: #A7C5C5;
$color_2_2: #626B6B;
$color_2_3: #054747;
$color_2_4: #D9F0F0;
$color_2_5: #E4F0F0;

// вторичный цвет B:
$color_3_1: #E9F5D1;
$color_3_2: #82857A;
$color_3_3: #3D5806;
$color_3_4: #F5FCE5;
$color_3_5: #F8FCF0;
