@import './variables.scss';

.decorative-arrow {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-left: 600px;
}

.decorative-arrow span {
    display: block;
    width: 100%;
    height: 6px;
    margin-top: 30px;
    background-color: $color_1_3;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
  }
  
.decorative-arrow span::before,
.decorative-arrow span::after {
    display: block;
    width: 100%;
    height: 6px;
    background-color: $color_1_3;
    content: "";
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
  }
  
.decorative-arrow span::before {
    transform: translate(0, -12px);
}
  
.decorative-arrow span::after {
    transform: translate(0, 6px);
}

.decorative-arrow-open span {
    transform: rotate(270deg);
}

.decorative-arrow-open span::before,
.decorative-arrow-open span::after {
    width: 60%;
}

.decorative-arrow-open span::before {
    transform: translate(-5px, -7px) rotate(-45deg);
}

.decorative-arrow-open span::after {
    transform: translate(-5px, 2px) rotate(45deg);
}