@mixin keyframes($animationName) {
    @keyframes #{$animationName} {
        @content;        
    }
}

@mixin fontIcon {
    font-family: "Havana";
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    padding: 0 18px 0 10px;
}