@import './mixins.scss';
@import './variables.scss';

@include keyframes(move-strap-shell-up) {
    0% {
        top: 30px;
    }
    100% {
        top: 0px;
    }    
}

#strap {
    overflow: hidden;
    margin-top: -30px;
    .strap-shell {
        display: block;
        position: relative;
        top: 30px;
        animation-name: move-strap-shell-up;
        animation-delay: 3s;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        border-radius: 3px 3px 0 0;
        background-color: $color_1_2;

        p {
            font-size: large;
            padding-top: 10px;
            color: $color_1_5;
        }
    }
}
