
// ---ColorScheme---

// основной цвет:
$color_1_1: #CEECFF;
$color_1_2: #7E868C;
$color_1_3: #083C5E;
$color_1_4: #DDF2FF;
$color_1_5: #E9F7FF;

// вторичный цвет А:
$color_2_1: #F7FFCB;
$color_2_2: #8A8C7D;
$color_2_3: #515E08;
$color_2_4: #FAFFDB;
$color_2_5: #FCFFE8;

// вторичный цвет B:
$color_3_1: #FCCCFF;
$color_3_2: #8B7D8C;
$color_3_3: #59085E;
$color_3_4: #FDDCFF;
$color_3_5: #FEE8FF;
