.row {
    .img-w-fi {
        width: 1199px;
        height: 902px;
    }
    
    .carousel-container {
        margin: 0 auto;
    }

    .img-w-ti {
        width: 12rem;
    }

    .div-p {
        display: flex;
        padding: 0;
        overflow: auto;
    }
}

